@font-face {
    font-family: 'Source Sans';
    font-style: italic;
    src: url('../third-party/SourceSans3-Italic.otf.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Source Sans';
    src: url('../third-party/SourceSans3-Regular.otf.woff2') format('woff2-variations');
}
