<!DOCTYPE html>
<html {{with .Site.LanguageCode}} lang="{{.}}" {{end}}>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    {{ hugo.Generator }}

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ end }}
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="{{ "css/print.css" | absURL }}" media="print">
    <link type="text/css" rel="stylesheet" href="{{ "css/poole.css" | absURL }}">
    <link type="text/css" rel="stylesheet" href="{{ "css/syntax.css" | absURL }}">
    <link type="text/css" rel="stylesheet" href="{{ "css/hyde.css" | absURL }}">
    <link type="text/css" rel="stylesheet" href="{{ "css/fonts.css" | absURL }}">
    <link type="text/css" rel="stylesheet" href="{{ "third-party/photoswipe.css" | absURL }}" />

    <!-- Icons -->
    <link rel="shortcut icon" href="/favicon.png">

    <!-- RSS etc -->
    {{ range .AlternativeOutputFormats }}
    {{ printf `
    <link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
    {{ end }}

</head>

<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
    {{ partial "sidebar.html" . }}
    <main class="content container">
        {{ block "main" . }}{{ end }}
    </main>

    <footer class="content container">
        <p>
            <small>Hugo theme based on <a href="https://github.com/spf13/hyde">Hyde</a>.
            Other third-party libraries and assets used in the site are listed in <a href="{{ ref . "/third-party" }}">this page</a>.</small>
        </p>

        <p>
            <small>
                Except where otherwise noted, content on this site is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                    Creative Commons Attribution-ShareAlike 4.0 International License</a>.
                The source files of the website can be found <a href="https://gitlab.com/scarpetta/scarpetta.gitlab.io">here</a>.
            </small>
        </p>
    </footer>
</body>

<script type="module">
    // Include Lightbox
    import PhotoSwipeLightbox from '{{ "/third-party/photoswipe-lightbox.esm.min.js" | absURL }}';

    const lightbox = new PhotoSwipeLightbox({
        // may select multiple "galleries"
        gallery: 'main',

        // Elements within gallery (slides)
        children: 'figure > a',

        // Include PhotoSwipe Core
        // and use absolute path (that starts with http(s)://)
        pswpModule: () => import('{{ "/third-party/photoswipe.esm.min.js" | absURL }}')
    });

    lightbox.on('uiRegister', function() {
        lightbox.pswp.ui.registerElement({
            name: 'custom-caption',
            order: 9,
            isButton: false,
            appendTo: 'root',
            html: 'Caption text',
            onInit: (el, pswp) => {
                lightbox.pswp.on('change', () => {
                    const currSlideElement = lightbox.pswp.currSlide.data.element;
                    let captionHTML = '';
                    if (currSlideElement) {
                        const hiddenCaption = currSlideElement.querySelector('.hidden-caption-content');
                        if (hiddenCaption) {
                            // get caption from element with class hidden-caption-content
                            captionHTML = hiddenCaption.innerHTML;
                        } else {
                            // get caption from alt attribute
                            captionHTML = currSlideElement.querySelector('img').getAttribute('alt');
                        }
                    }
                    el.innerHTML = captionHTML || '';
                });
            }
        });
    });

    lightbox.init();
</script>

</html>
