{{ define "main" }}
<ul class="posts">
    {{ range .Data.Pages }}
    <li>
        <span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ with .Date }}
            <time class="pull-right post-list" datetime={{ .Format "2006-01-02T15:04:05Z0700" }}>
                {{ .Format "2 Jan 2006"}}
            </time>
            {{ end }}
        </span>
    </li>
    {{ end }}
</ul>
{{ end }}