{{ define "main" }}

<div class="post">
    <h1>{{ .Title }}</h1>
    {{ with .Date }}
    <time datetime={{ .Format "2006-01-02T15:04:05Z0700" }} class="post-date">
        {{ .Format "2 January 2006"}}
    </time>
    {{ end }}
    {{ .Content }}
</div>

{{ end }}
