<aside class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <a href="{{ .Site.BaseURL }}">
                <h1>{{ .Site.Title }}</h1>
            </a>
        </div>

        <nav>
            <ul class="sidebar-nav">
                <li><a href="{{ with .Site.GetPage "pdfmixtool" }}{{ .Permalink }}{{ end }}">PDF Mix Tool</a></li>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}"> {{ .Name }} </a></li>
                {{ end }}
            </ul>
        </nav>

        <div style="height: 3rem"></div>

    </div>
</aside>
