{{ with (index ($.Page.Resources.Match (.Get "src")) 0) }}
{{ $thumb := .Resize "x500 q90" }}
<figure>
    <a href="{{ .Permalink }}"
        {{ with (imageConfig (path.Join "content" $.Page.RelPermalink .)) }}
            data-pswp-width="{{.Width}}"
            data-pswp-height="{{.Height}}"
        {{ end }}>
        <img src="{{ $thumb.Permalink }}" {{ with $.Get "alt" }}alt="{{ . }}"{{ else }}alt="{{ $.Get "caption" }}"{{ end }} />
    </a>
    {{ with $.Get "caption" }}
    <figcaption>
        <p>{{ . }}</p>
    </figcaption>
    {{ end }}
</figure>
{{ end }}
